.item-view-wrapper {
  width: 100%;
  max-width: 780px;
  margin: 1rem;
  box-shadow: var(--box-shadow-small);
  border-radius: 4px;
  padding: 0;
}

.form-header {
  padding: var(--spacing-medium);
  background-color: var(--secondary-background-color);
}

.form-wrapper {
  padding: var(--spacing-medium);
  height: 100%;
}

.monday-textarea {
  border: 0.1rem solid #c3c6d4;
  border-radius: 4px;
  transition: border-color var(--motion-productive-medium) ease-in;
  white-space: nowrap;
  width: 100%;
  font: var(--font-paragraph);
  font-weight: 400;
  color: var(--primary-text-color);
  box-sizing: border-box;
  padding: 8px 16px;
}

.monday-textarea:disabled {
  background: var(--disabled-background-color);
}

.monday-textarea:disabled::-webkit-input-placeholder {
  color: var(--disabled-text-color);
}

.monday-textarea:focus {
  outline: none;
  border: 0.1rem solid;
  border-color: #0073ea;
  transition: border-color var(--motion-productive-medium) ease-in;
}
.monday-textarea:hover {
  outline: none;
  border: 0.1rem solid;
  border-color: #000000;
  transition: border-color var(--motion-productive-medium) ease-in;
}

.input-component__label--wrapper[data-error] .monday-textarea {
  border: 1px solid var(--negative-color);
}

.input-component__label--wrapper[data-error] .monday-select {
  border: 1px solid var(--negative-color);
}
.input-component__label--wrapper[data-error] .dropdown-wrapper {
  border: 1px solid var(--negative-color);
}

.input-component__label--wrapper[data-error]::after {
  content: attr(data-error);
  color: var(--negative-color);
  font: var(--font-general-label);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
}
